<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AwesomeAlarmClock.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C928D9B1BDBAF4500B1A0FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C928DAF1BDBAF4600B1A0FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C928DBA1BDBAF4600B1A0FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
